body{
    font-family: 'raleway';

}
.hdr{

    margin-top : -3px;
    margin-left: -50px;
    background-color: rgb(248, 242, 242);
    color : rgb(193, 108, 214);
    display: inline-flex;
    width : 1390px;
    height : 70px;

}
.hdr img{
    margin-left : 50px;
    margin-top :0px;
    margin-right : 10px;
    border-radius: 10px;
} 
.hdr2{

    margin-left : 430px;
    margin-top : -20px;
}
.hdr3{

    color : rgb(193, 108, 214);
    margin-left : 40px;
    margin-top : -20px;

}
.img{
    margin-left: 20px;
    margin-top: 10px;
    width : 300px;
    height: 200px;   
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 16%),
                 0 2px 10px 0 rgb(0 0 0 / 12%);  
}
.card{
    width: 900px;
    margin-top: 10px;
    background-color: white;
    margin-left: 200px;
}
.card1{
    display: inline-flex;
    width : 500px;
    margin-left: 40px;
    margin-top: 20px;
}
.card2{
    margin-left: 60px;
    display: inline-block;
    width : 700px;
}
.intro{
    font-size: 20px;
}
.hng{

    background-color: rgb(248, 242, 242);
    font-weight: bold;
    color : rgb(193, 108, 214);
    padding: 10px;
    margin-top: 50px;
    height: 30px;
    width: 500px;
    border-radius: 10px;
    font-size: 30px;
}
.types{

    height : 40px;
    margin-top: 10px;
    width : 700px;
    padding: 10px;
    box-shadow: 0 2px 0px 0 rgb(0 0 0 / 16%),
    0 2px 10px 0 rgb(0 0 0 / 12%);  
}
.lb{
    font-size: 20px;
    height: 40px;
    margin-left: 20px;
    opacity: 0.9;
}
.types:hover{
    border :1px solid grey;

}
.opa {
    margin-top: 40px;
    margin: 10px;
    color : rgb(193, 108, 214);
    padding: 10px;
    margin: 10px;
    font-size: 27px;
    opacity: 0.8;
}
.frm{
    margin-top: 20px; 

}
.review{
    font-family: 'raleway';
    font-size: 20px;
    margin-left : 0px;
    border-radius: 10px;
    margin-top : 20px;
    height : 300px;
    width : 700px;
    position :static;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
                 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.frm{
    margin-left:25px;
    height : 200px;
    display: inline-flex;
}
.lbl{
    height: 300px;
    width : 150px;
    opacity: 0.8;
    
}
.tb{
    margin-top: -5px;
}
.tb input[type="text"],input[type="email"],textarea{
    background: none;
    border :0;
    overflow: hidden;
    border: 2px solid #e4e4e4;
    padding: 10px 20px;
    outline: none;
    border-radius: 20px;
    margin-top: 5px;
   
}
.btn{
    margin-left:480px;
}
.review button{
    margin-top: -40px;
    height : 40px;
    width : 10px;  
    text-align: center;
    background: rgb(198, 131, 214);
    padding: 10px 50px;
}
.review button:hover{
    background: rgb(196, 145, 209) ;
}
.hng2{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 28px;
    background-color: rgb(248, 242, 242);
    font-weight: bold;
    color : rgb(193, 108, 214);
    height: 30px;
    width: 325px;
}
.discuss
{
    background: none;
    border :0;
    margin-left : 0px;
    width : 600px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
                 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 10px 50px;
    outline: none;
    border-radius: 10px;
}
.discuss h2{
    margin-left: -10px;
    opacity: 0.6;
    
}
.dis{
    margin-left : -40px;
    display : inline-flex;
    
}
.dis h3{
    padding-left: 20px;
    margin-top: 2px;
    opacity :0.60;
}
.discuss label{
    margin-left: 30px;
    font-size: 20px;
}
.avtr{
    border-radius: 50px;
    margin-left: -6px;
    margin-top: -4px;
}
.footer{
    margin-top: 10px;
    background-color: rgb(24, 24, 24);
    height : 250px;
    width : 1340px;
    text-align: center;
    color: rgb(202, 199, 199);
}
.ftr{
    padding: 10px;
}
.ftr p{
    font-size: 30px;
}
